.icon {
	width: 64px;
	height: 64px;
	border-radius: 8px;
	border: 1px solid #999999;
}

.screenshot {
	width: 200px;
	height: 300px;
	border-radius: 8px;
	border: 1px solid #999999;
}

.modal-backdrop {
	opacity: 0.5;
}

.search {
	width: 300px;
}

.app {
	margin-bottom: 10px;
}

.clickable {
	cursor: pointer;
}

.logo {
	width: 32px;
	height: 32px;
	margin-top: -10px;
}

.rotate {
	-webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
	from {-webkit-transform: rotate(0deg);}
	to   {-webkit-transform: rotate(359deg);}
}
