<div class="modal-header">
  <h3 class="modal-title" translate>Welcome to uApp Explorer!</h3>
</div>

<div class="modal-body" translate>
  This site is an unofficial app browser for Ubuntu Touch apps. All data for
  the apps comes from a publicly accessible
  <a href="https://wiki.ubuntu.com/AppStore/Interfaces/ClickPackageIndex">api</a>.
  This site is maintained by <a href="http://bhdouglass.com/">Brian Douglass</a>
  and is not endorsed by or affiliated with Ubuntu or Canonical.
  Ubuntu and Canonical are registered trademarks of
  <a href="http://www.canonical.com/">Canonical Ltd.</a>
</div>

<div class="modal-footer">
  <button class="btn btn-info" ng-click="$dismiss('close')" translate>Close</button>
</div>
