<div class="modal-header">
  <h3 class="modal-title" translate>FAQ</h3>
</div>

<div class="modal-body">
  <h4 translate>What is this site?</h4>
  <div translate>
This site is an unofficial app browser for Ubuntu Touch apps. All data for
the apps comes from a publicly accessible
<a href="https://wiki.ubuntu.com/AppStore/Interfaces/ClickPackageIndex">api</a>.
This site is maintained by <a href="http://bhdouglass.com/">Brian Douglass</a>
and is not endorsed by or affiliated with Ubuntu or Canonical.
Ubuntu and Canonical are registered trademarks of
<a href="http://www.canonical.com/">Canonical Ltd.</a>
  </div>
  <br/>

  <h4 translate>How do I install apps?</h4>
  <div>
    <p translate>
To install an app, visit this site on your Ubuntu Touch device. Find the app
that you wish to install and click the "Install" button. You will then be
taken to the official appstore on your device where you can install the app.
    </p>
    <p translate>Apps are not installed via this site, but via the official appstore.</p>
  </div>
  <br/>

  <h4 translate>What is the star rating?</h4>
  <div translate>
The star rating is the Bayesian average of the star ratings that user give
to an app when they leave a review. The Bayesian average allows apps with
more reviews to rank better than apps with less reviews. The star rating
can be between 1 and 5, where a 0 means that there have not been any reviews
yet. For more information about the Bayesian average calculation, check out
<a href="http://fulmicoton.com/posts/bayesian_rating/">this article</a>.
  </div>
  <br/>

  <h4 translate>What is the heart rating?</h4>
  <div>
    <p translate>
The heart rating is similar to the star rating, but it rewards apps for having
more good reviews. An app with more 5 star ratings will have a higher heart
rating than an app with only a few 5 star ratings.
    </p>
    <p translate>
Heart ratings are calculated from the star rating where a 5 star review is
1 heart point, 4 stars = 0.5 hearts, 3 stars = 0 hearts, 2 stars = -0.5 hearts,
and 1 star = -1 hearts.
    </p>
    <p translate>It is possible to have a negative heart rating.</p>
  </div>
  <br/>

  <h4 translate>How is the popularity determined?</h4>
  <div>
    <p translate>
Popularity is based on the number of 4 and 5 star reviews given to and app
during the current month.
    </p>
  </div>
  <br/>

  <h4 translate>I just published my app, why don't I see it?</h4>
  <div>
    <a href="/apps/request" ng-click="$dismiss('close')" translate>
New apps are fetched from the official appstore every hour, you can either
wait until the new apps are fetched or use the request form to request that the
app be found early.
    </a>
  </div>

  <h4 translate>What do I do if I find copyright or trademark infringing content?</h4>
  <div translate>
Any requests to remove copyright or trademark infringing content should be
taken up with <a href="http://www.canonical.com/">Canonical</a> or the app's
author (an author usually has a method of contact listed under the "Support"
tab on their app's page). uApp Explorer is not affiliated with Canonical
and does not host any apps. uApp Explorer only displays publicly available
information about the official Ubuntu Touch appstore.
  </div>

  <h4 translate>Where can I report a problem or request a new feature?</h4>
  <div>
    <a href="https://github.com/bhdouglass/uappexplorer/issues" translate>
      To report a problem or request a new feature visit the issues page for this site on GitHub.
    </a>
  </div>
  <br/>

  <h4 translate>How can I help improve this site?</h4>
  <div>
    <a href="https://github.com/bhdouglass/uappexplorer" translate>
      If you want to contribute code visit the GitHub repo.
    </a>
    <br/>
    <a href="https://github.com/bhdouglass/uappexplorer/issues" translate>
      If you want to submit bugs or feature requests visit the GitHub issues page.
    </a>
    <br/>
    <a ng-click="donate(); $dismiss('close')" class="clickable" translate>
      If you would like to contribute monetarily, there are multiple options for donating.
    </a>
    <br/>
    <a href="http://bhdouglass.com/" translate>
      If you would like to contact the author, visit his website.
    </a>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-info" ng-click="$dismiss('close')" translate>Close</button>
</div>
