<div class="main">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>
        <a href="/apps" translate translate-comment="Browse Apps">
          Browse
        </a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?type=application" title="{{'Browse Apps'|translate}}">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-mobile background-material-lightblue"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading" translate>
              Apps
            </h4>
            <p class="list-group-item-text" ng-if="counts.applications"
              translate translate-n="counts.applications" translate-plural="{{counts.applications}} apps">
              {{counts.applications}} apps
            </p>
          </div>
        </a>

        <div class="list-group-separator visible-xs visible-sm"></div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?type=webapp" title="{{'Browse Web Apps'|translate}}">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-bookmark background-material-cyan"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading" translate>
              Web Apps
            </h4>
            <p class="list-group-item-text" ng-if="counts.webapps"
              translate translate-n="counts.webapps" translate-plural="{{counts.webapps}} web apps">
              {{counts.webapps}} web apps
            </p>
          </div>
        </a>

        <div class="list-group-separator visible-xs visible-sm"></div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?category=games" title="{{'Browse Games'|translate}}">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-gamepad background-material-lightgreen"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading" translate>
              Games
            </h4>
            <p class="list-group-item-text" ng-if="counts.games"
              translate translate-n="counts.games" translate-plural="{{counts.games}} games">
              {{counts.games}} games
            </p>
          </div>
        </a>

        <div class="list-group-separator visible-xs visible-sm"></div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?type=scope" title="{{'Browse Scopes'|translate}}">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-search background-material-deeporange"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading" translate>
              Scopes
            </h4>
            <p class="list-group-item-text" ng-if="counts.scopes"
              translate translate-n="counts.scopes" translate-plural="{{counts.scopes}} scopes">
              {{counts.scopes}} scopes
            </p>
          </div>
        </a>

        <div class="list-group-separator visible-xs visible-sm"></div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="essentials">
    <div class="col-md-12 text-center">
      <h1>
        <a href="/apps?sort=-bayesian_average" translate>
          Essential Apps
        </a>
      </h1>
    </div>
  </div>
  <div class="row" ng-if="essentials">
    <div class="essentials margin-auto">
      <carousel interval="4000">
        <slide ng-repeat="app in essentials" class="ubuntu-shape">
          <img ng-src="{{appIcon(app)}}" class="rounded">
          <div class="carousel-caption">
            <a ui-sref="app({name: app.name})">
              <h3 ng-bind="app.title"></h3>
            </a>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

  <div class="row" ng-show="top.length > 0">
    <div class="col-md-12 text-center">
      <h1>
        <a href="/apps?sort=-points" translate>
          Top Apps
        </a>
      </h1>
    </div>
  </div>
  <div class="row app-list">
    <div ng-repeat="app in top">
      <div class="col-md-4 col-sm-6 col-xs-6 grid-view">
        <app-view ng-model="app"></app-view>
      </div>

      <div class="hidden-xs hidden-sm" ng-class="{clearfix: $index % 3 == 2}"></div>
      <div class="visible-xs visible-sm" ng-class="{clearfix: $index % 2 == 1}"></div>

      <div class="separator hidden-xs hidden-sm" ng-show="$index % 3 == 2"></div>
      <div class="separator visible-sm visible-xs" ng-show="$index % 2 == 1"></div>
    </div>
  </div>

  <div class="row" ng-show="new.length > 0">
    <div class="col-md-12 text-center">
      <h1>
        <a href="/apps" translate>
          New Apps
        </a>
      </h1>
    </div>
  </div>
  <div class="row app-list">
    <div ng-repeat="app in new">
      <div class="col-md-4 col-sm-6 col-xs-6 grid-view">
        <app-view ng-model="app"></app-view>
      </div>

      <div class="hidden-xs hidden-sm" ng-class="{clearfix: $index % 3 == 2}"></div>
      <div class="visible-xs visible-sm" ng-class="{clearfix: $index % 2 == 1}"></div>

      <div class="separator hidden-xs hidden-sm" ng-show="$index % 3 == 2"></div>
      <div class="separator visible-sm visible-xs" ng-show="$index % 2 == 1"></div>
    </div>
  </div>
</div>
