<div class="row">
  <div class="col-md-12" ng-if="pages > 1">
    <nav class="center">
      <ul class="pagination pagination-lg">
        <li ng-class="{clickable: current != 0, disabled: current == 0}">
          <a ng-click="previous_page()">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Previous</span>
          </a>
        </li>
        <li ng-show="pages_repeater.indexOf(0) == -1" class="clickable hidden-xs">
          <a ng-click="page(0)">1</a>
        </li>
        <li ng-show="pages_repeater.indexOf(0) == -1" class="hidden-xs">
          <a>&hellip;</a>
        </li>
        <li ng-repeat="p in pages_repeater" ng-class="{clickable: p != current, active: p == current}">
          <a ng-click="page(p)" class="clickable" ng-bind="p + 1"></a>
        </li>
        <li ng-show="pages_repeater.indexOf(pages - 1) == -1" class="hidden-xs">
          <a>&hellip;</a>
        </li>
        <li ng-show="pages_repeater.indexOf(pages - 1) == -1" class="clickable hidden-xs">
          <a ng-click="page(pages - 1)" ng-bind="pages"></a>
        </li>
        <li ng-class="{clickable: current != (pages - 1), disabled: current == (pages - 1)}">
          <a ng-click="next_page()">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
