<div class="app">
  <div class="row" ng-if="loading">
    <div class="col-md-12 text-center">
      <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
  </div>

  <div ng-show="app && !loading">
    <div class="row">
      <div class="col-md-6">
        <div class="list-group">
          <div class="list-group-item">
            <div class="row-action-primary">
              <div class="icon-large ubuntu-shape">
                <img ng-src="{{appIcon(app)}}" alt="{{app.name}}" />
              </div>
            </div>

            <div class="row-content app-info">
              <div class="least-content hidden-xs">
                <span ng-repeat="type in app.types">
                  <type ng-model="type"></type>
                </span>
              </div>
              <h4 class="list-group-item-heading" ng-bind="app.title"></h4>
              <p class="list-group-item-text">
                <stars ng-model="app.bayesian_average"></stars>
                <span class="text-danger heart-rating">
                  <i class="fa" ng-class="{'fa-heart-o': !app.points || app.points <= 0, 'fa-heart': app.points > 0}"></i>
                  <span ng-bind="app.points || 0"></span>
                </span>
                <br ng-show="app.author" />
                <a ui-sref="apps({q: app.author})" ng-bind="app.author" title="Author" class="clickable"></a>
                <br ng-show="app.company" />
                <span ng-bind="app.company" title="Company"></span>

                <br/>
                <span ng-show="isFree(app.prices)" class="label label-primary">Free</span>
                <span ng-show="!isFree(app.prices)" class="label label-success price" ng-repeat="(currency, value) in app.prices" ng-bind="app.prices|dollars:currency"></span>

                <span class="pull-right visible-xs">
                  <span ng-repeat="type in app.types">
                    <type ng-model="type"></type>
                  </span>
                </span>
              </p>
            </div>
          </div>
          <div class="list-group-separator"></div>

          <div class="list-group-item">
            <div class="row-action-primary">
                <div class="action-icon ubuntu-shape">
                  <i class="fa fa-download" ng-style="strToColor(app.author, 'background-color')"></i>
                </div>
            </div>

            <div class="row-content">
              <div class="list-group-item-text">
                <a ng-href="scope://com.canonical.scopes.clickstore?q={{app.title}}" class="btn btn-success btn-sm" analytics-on analytics-event="Install" analytics-label="{{app.name}}">Install</a>
                <!--<a ng-href="{{app.download}}" class="btn btn-primary btn-sm">Download</a>-->
                <p class="small-note">
                  *Install will take you to the official appstore on an Ubuntu Touch device
                </p>
              </div>
            </div>

          </div>
          <div class="list-group-separator"></div>

          <div class="list-group-item">
            <div class="row-action-primary">
                <div class="action-icon ubuntu-shape">
                  <i class="fa fa-share-alt" ng-style="strToColor(app.name, 'background-color')"></i>
                </div>
            </div>

            <div class="row-content">
              <p class="list-group-item-text social-links row">
                <div class="col-sm-2 col-xs-4">
                  <a ng-href="https://plus.google.com/share?url={{url}}app/{{app.name}}" class="mdi-material-red" title="Share on Google+">
                    <i class="fa fa-google-plus-square fa-3x"></i>
                  </a>
                </div>
                <div class="col-sm-2 col-xs-4">
                  <a ng-href="http://www.facebook.com/sharer/sharer.php?u={{url}}app/{{app.name}}" class="mdi-material-blue" title="Share on Facebook">
                    <i class="fa fa-facebook-square fa-3x"></i>
                  </a>
                </div>
                <div class="col-sm-2 col-xs-4">
                  <!--https://twitter.com/intent/tweet?text=TITLE&url=URL&via=TWITTER-HANDLE-->
                  <a ng-href="https://twitter.com/intent/tweet?text={{app.title}}&url={{url}}app/{{app.name}}" class="mdi-material-lightblue" title="Share on Twitter">
                    <i class="fa fa-twitter-square fa-3x"></i>
                  </a>
                </div>
                <div class="col-sm-2 col-xs-4">
                  <a ng-href="https://www.reddit.com/submit?url={{url}}app/{{app.name}}" class="mdi-material-cyan" title="Share on Reddit">
                    <i class="fa fa-reddit-square fa-3x"></i>
                  </a>
                </div>
                <div class="col-sm-2 col-xs-4 hidden-xs hidden-sm">
                  <a class="mid-material-grey qr-button clickable" title="QR Code" ng-click="qrCode()">
                    <i class="fa fa-square fa-3x"></i>
                    <i class="fa fa-qrcode fa-2x fa-inverse"></i>
                  </a>
                </div>
              </p>
            </div>

          </div>
          <div class="list-group-separator"></div>
        </div>
      </div>

      <div class="col-md-6">
        <ul class="nav nav-pills">
          <li ng-class="{active: app_tab == 'desc'}" class="clickable">
            <a ng-click="app_tab = 'desc'">Description</a>
          </li>
          <li ng-class="{active: app_tab == 'change'}" class="clickable" ng-show="app.changelog">
            <a ng-click="app_tab = 'change'">Changelog</a>
          </li>
          <li ng-class="{active: app_tab == 'info'}" class="clickable">
            <a ng-click="app_tab = 'info'">Info</a>
          </li>
          <li ng-class="{active: app_tab == 'support'}" class="clickable">
            <a ng-click="app_tab = 'support'">Support</a>
          </li>
        </ul>
        <br/>

        <div class="tab-content" ng-show="app_tab == 'desc'">
          <div class="well app-tab" ng-bind-html="app.description | nl2br"></div>
        </div>

        <div class="tab-content" ng-show="app_tab == 'change'">
          <div class="well app-tab" ng-bind-html="app.changelog | nl2br"></div>
        </div>

        <div class="tab-content" ng-show="app_tab == 'info'">
          <div class="well app-tab">
            Version: <span ng-bind="app.version"></span>
            <br/>
            Updated: <span ng-bind="app.last_updated | date"></span>
            <br/>
            License: <span ng-bind="app.license"></span>
            <br/>
            Architecture{{app.architecture.length > 1 ? 's' : ''}}: <span ng-bind="app.architecture.join(', ')"></span>
          </div>
        </div>

        <div class="tab-content" ng-show="app_tab == 'support'">
          <div class="well app-tab">
            <span ng-show="app.support">
              Support: <a ng-href="{{app.support}}" rel="nofollow" ng-bind="app.support" analytics-on analytics-event="Support" analytics-label="{{app.support}}"></a>
            </span>
            <span ng-show="app.website">
              <br/>
              Website: <a ng-href="{{app.website}}" rel="nofollow" ng-bind="app.website" analytics-on analytics-event="Website" analytics-label="{{app.website}}"></a>
            </span>
            <span ng-show="app.terms">
              <br/>
              Terms:
              <p ng-bind="app.terms"></p>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="app.screenshots.length > 0 && app.screenshots[0] != ''">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Screenshots</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 screenshot-scroll">
          <div ng-repeat="s in app.screenshots">
            <a ng-href="{{s}}" class="swipebox" rel="nofollow">
              <img ng-src="{{s}}" alt="" class="screenshot" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center">
        <h3>User Reviews</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 text-center" ng-if="app.loading_reviews">
        <i class="fa fa-spin fa-spinner fa-2x"></i>
        Loading reviews...
      </div>

      <div class="col-md-12">
        <div class="row star-chart text-center" ng-show="app.reviews.length > 0">
          <div class="col-sm-2 col-sm-offset-3 left-panel">
            <div class="text-primary text-large text-center">
              <i class="fa fa-star"></i>
              <span ng-bind="app.bayesian_average.toFixed(2)"></span>
            </div>

            <span class="text-danger text-med-large heart-rating">
              <i class="fa" ng-class="{'fa-heart-o': !app.points || app.points <= 0, 'fa-heart': app.points > 0}"></i>
              <span ng-bind="app.points || 0"></span>
            </span>

            <br/>
            <i class="fa fa-users"></i>
            <span ng-bind="app.review_stats.total"></span>
          </div>
          <div class="col-sm-3 right-panel">
            <span class="pull-left">5 <i class="fa fa-star"></i></span>
            <div class="progress">
              <div class="progress-bar progress-bar-material-lightgreen" ng-style="stats(5)" ng-bind="app.review_stats[5]"></div>
            </div>
            <span class="pull-left">4 <i class="fa fa-star"></i></span>
            <div class="progress">
              <div class="progress-bar progress-bar-material-lime" ng-style="stats(4)" ng-bind="app.review_stats[4]"></div>
            </div>
            <span class="pull-left">3 <i class="fa fa-star-half-o"></i></span>
            <div class="progress">
              <div class="progress-bar progress-bar-material-lightyellow" ng-style="stats(3)" ng-bind="app.review_stats[3]"></div>
            </div>
            <span class="pull-left">2 <i class="fa fa-star-o"></i></span>
            <div class="progress">
              <div class="progress-bar progress-bar-material-orange" ng-style="stats(2)" ng-bind="app.review_stats[2]"></div>
            </div>
            <span class="pull-left">1 <i class="fa fa-star-o"></i></span>
            <div class="progress">
              <div class="progress-bar progress-bar-material-deeporange" ng-style="stats(1)" ng-bind="app.review_stats[1]"></div>
            </div>
          </div>
        </div>
      </div>

      <div ng-repeat="review in app.reviews|orderBy:'-date_created'" class="review">
        <div class="col-md-4 col-sm-6" ng-class="{'col-md-offset-4': ($last && (app.reviews.length % 3) == 1), 'col-md-offset-2': (($index + 2) == app.reviews.length && (app.reviews.length % 3) == 2)}">
          <div class="list-group">
            <div class="list-group-item">
              <div class="row-action-primary">
                <div class="action-icon ubuntu-shape">
                  <i class="fa fa-user" ng-style="strToColor(review.reviewer_username, 'background-color')"></i>
                </div>
              </div>

              <div class="row-content">
                <div class="least-content" ng-bind="review.date_created|date"></div>

                <p class="list-group-item-heading">
                  <stars ng-model="review.rating"></stars>
                </p>

                <p class="list-group-item-text review-author">
                  <span ng-bind="review.reviewer_displayname"></span>
                </p>
              </div>
                <p class="list-group-item-text review-text">
                  <span ng-bind="review.review_text"></span>
                  <br/>
                  For version: <span ng-bind="review.version"></span>
                </p>
            </div>
            <div class="list-group-separator"></div>
          </div>
        </div>

        <div class="hidden-xs hidden-sm" ng-class="{clearfix: $index % 3 == 2}"></div>
        <div class="visible-xs visible-sm" ng-class="{clearfix: $index % 2 == 1}"></div>
      </div>

      <div class="col-sm-4 col-md-offset-4 text-center" ng-show="!app.loading_reviews && (!app.reviews || app.reviews.length == 0)">
        <h4>No reviews yet!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-md-offset-4 text-center" ng-show="app.more_reviews">
        <a ng-click="loadMoreReview(app)" ng-if="!app.loading_more_reviews" class="btn btn-info">Load more reviews</a>
        <span ng-if="app.loading_more_reviews">
          <i class="fa fa-spin fa-spinner"></i>
          Loading more reviews...
        </span>
      </div>
    </div>
  </div>
</div>
