<div>
  <div class="app-search">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="category.name"></h1>
        <span>{{app_count}} {{countTypes[type]}}</span>
        <div class="input-group search-box">
          <input type="text" class="form-control" ng-model="search" id="search" />
          <span class="input-group-addon">
            <i class="fa fa-search" ng-click="search = ''" ng-class="{'fa-search': !search_hover, 'fa-times-circle-o': search_hover}" ng-mouseenter="search_hover = true" ng-mouseleave="search_hover = false" title="Clear search"></i>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="pull-right">
          <div class="btn-group category-dropdown">
            <a class="btn btn-primary dropdown-toggle" ng-class="{bold: category.internal_name != categories[0].internal_name}" data-toggle="dropdown">
              Category
              <i class="fa fa-bars"></i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li ng-repeat="c in categories" class="clickable">
                <a ng-click="changeCategory(c)">
                  <i class="fa fa-fw" ng-class="{'fa-check': category.internal_name == c.internal_name}"></i>
                  <span ng-class="{'bold': category.internal_name == c.internal_name}" ng-bind="c.name"></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn btn-material-lightblue dropdown-toggle" ng-class="{bold: type != 'all'}" data-toggle="dropdown">
              Type
              <i class="fa fa-certificate"></i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li ng-repeat="t in typeList" class="clickable">
                <a ng-click="changeType(t.value)">
                  <i class="fa fa-fw" ng-class="{'fa-check': type == t.value}"></i>
                  <span ng-class="{'bold': type == t.value}" ng-bind="t.label"></span>
                </a>
              </li>
            </ul>
          </div>

          <div class="btn-group">
            <a class="btn btn-success dropdown-toggle" ng-class="{bold: sort != '-published_date'}" data-toggle="dropdown">
              Sort
              <i class="fa fa-sort"></i>
            </a>
            <ul class="dropdown-menu pull-right">
              <li ng-repeat="s in sorts" class="clickable">
                <a ng-click="changeSort(s.value)">
                  <i class="fa fa-fw" ng-class="{'fa-check': sort == s.value}"></i>
                  <span ng-class="{'bold': sort == s.value}" ng-bind="s.label"></span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <div class="btn-toolbar pull-right hidden-xs">
          <div class="btn-group">
            <a class="btn clickable" ng-class="{'bold btn-primary': view == 'grid'}" ng-click="changeView('grid')" ng-disabled="view == 'grid'">
              Grid
              <i class="fa fa-th-large"></i>
            </a>
            <a class="btn clickable" ng-class="{'bold btn-primary': view == 'list'}" ng-click="changeView('list')" ng-disabled="view == 'list'">
              List
              <i class="fa fa-list"></i>
            </a>
          </div>
        </div>

        <div class="btn-toolbar pull-right">
          <div class="btn-group">
            <a ng-click="more_filters = !more_filters" class="btn btn-primary clickable">
              <i class="fa fa-plus-circle" ng-class="{'fa-plus-circle': !more_filters, 'fa-minus-circle': more_filters}"></i>
              Filters
            </a>
          </div>
        </div>

        <div class="btn-toolbar pull-right" ng-show="more_filters">
          <div class="btn-group">
            <div class="btn-group">
              <a class="btn btn-default dropdown-toggle text-center" ng-class="{bold: architecture != architectures[0]}" data-toggle="dropdown">
                Architecture
              </a>
              <ul class="dropdown-menu pull-left">
                <li ng-repeat="a in architectures" class="clickable">
                  <a ng-click="changeArchitecture(a)">
                    <i class="fa fa-fw" ng-class="{'fa-check': architecture == a}"></i>
                    <span ng-class="{'bold': architecture == a}" ng-bind="a"></span>
                  </a>
                </li>
              </ul>
            </div>

            <div class="btn-group">
              <a class="btn btn-default dropdown-toggle" ng-class="{bold: framework != frameworks[0]}" data-toggle="dropdown">
                Framework
              </a>
              <ul class="dropdown-menu pull-left">
                <li ng-repeat="f in frameworks" class="clickable">
                  <a ng-click="changeFramework(f)">
                    <i class="fa fa-fw" ng-class="{'fa-check': framework == f}"></i>
                    <span ng-class="{'bold': framework == f}" ng-bind="f"></span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row" ng-if="loading">
    <div class="col-md-12 text-center">
      <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
  </div>

  <div class="row apps">
    <div ng-repeat="app in apps">
      <div ng-class="{'col-sm-6 col-md-4': view == 'grid', 'col-sm-12': view != 'grid'}">
        <div class="list-group">
          <a class="list-group-item clickable" ui-sref="app({name: app.name})" title="{{app.short_description}}">
            <div class="row-action-primary">
              <div class="icon ubuntu-shape">
                <img ng-src="{{appIcon(app)}}" alt="{{app.name}}" />
              </div>
            </div>

            <div class="row-content">
              <div class="least-content">
                <div class="label" ng-class="{'label-material-lightblue': types[app.type] == 'App', 'label-material-cyan': types[app.type] == 'Web App', 'label-material-orange': types[app.type] == 'Scope'}" ng-bind="types[app.type]"></div>
              </div>
              <div class="least-content-lower">
                <div class="label" ng-class="{'label-success': !isFree(app.prices), 'label-primary': isFree(app.prices)}" ng-bind="app.prices|dollars"></div>
              </div>

              <h4 class="list-group-item-heading" ng-bind="app.title"></h4>
              <p class="list-group-item-text">
                <stars ng-model="app.bayesian_average"></stars>
                <span class="text-danger heart-rating">
                  <i class="fa" ng-class="{'fa-heart-o': !app.points || app.points <= 0, 'fa-heart': app.points > 0}"></i>
                  <span ng-bind="app.points || 0"></span>
                </span>
              </p>

              <p class="list-group-item-text" ng-show="view == 'list'" ng-bind="app.short_description"></p>
            </div>
          </a>

          <div class="list-group-separator"></div>
        </div>
      </div>
      <div class="hidden-xs hidden-sm" ng-class="{clearfix: $index % 3 == 2}"></div>
      <div class="visible-xs visible-sm" ng-class="{clearfix: $index % 2 == 1}"></div>
    </div>
  </div>

  <div class="row" ng-show="app_chunks.length == 0">
    <div class="col-md-12 text-center">
      No apps found, try searching again.
    </div>
  </div>

  <pages ng-model="current_page" pages="pages"></pages>
</div>
