<div>
  <div class="app-search">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="category.name"></h1>
        <span>{{app_count}} {{countTypes[type]}}</span>
        <div class="input-group search-box">
          <input type="text" class="form-control" ng-model="search" id="search" />
          <span class="input-group-addon">
            <i class="fa fa-search" ng-click="search = ''" ng-class="{'fa-search': !search_hover, 'fa-times-circle-o': search_hover}" ng-mouseenter="search_hover = true" ng-mouseleave="search_hover = false" title="Clear search"></i>
          </span>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <form class="top-filters">
            <fieldset>
              <div class="form-group col-md-4">
                <label for="category" class="control-label hidden-xs">Category:</label>
                <select id="category" class="form-control" ng-options="c.name for c in categories" ng-model="categoryModel" ng-change="changeCategory(categoryModel)"></select>
              </div>

              <div class="form-group col-md-4">
                <label for="type" class="control-label hidden-xs">Type:</label>
                <select id="type" class="form-control" ng-options="t.value as t.label for t in typeList" ng-model="typeModel" ng-change="changeType(typeModel)"></select>
              </div>

              <div class="form-group col-md-4">
                <label for="sort" class="control-label hidden-xs">Sort By:</label>
                <select id="sort" class="form-control" ng-options="s.value as s.label for s in sorts" ng-model="sortModel" ng-change="changeSort(sortModel)"></select>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="row">
          <div class="btn-toolbar pull-right more-filters-btn">
            <div class="btn-group">
              <a ng-click="more_filters = !more_filters" class="btn btn-primary clickable">
                <i class="fa fa-plus-circle" ng-class="{'fa-plus-circle': !more_filters, 'fa-minus-circle': more_filters}"></i>
                Filters
              </a>
            </div>
          </div>

          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <a class="btn clickable" ng-class="{'bold btn-primary view-button': view == 'grid'}" ng-click="changeView('grid')" ng-disabled="view == 'grid'">
                <span class="hidden-xs">Grid</span>
                <i class="fa fa-th-large"></i>
              </a>
              <a class="btn clickable" ng-class="{'bold btn-primary view-button': view == 'list'}" ng-click="changeView('list')" ng-disabled="view == 'list'">
                  <span class="hidden-xs">List</span>
                <i class="fa fa-list"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="row" ng-show="more_filters">
          <form>
            <fieldset>
              <div class="form-group col-md-6">
                <label for="architecture" class="control-label">Architecture:</label>
                <select id="architecture" class="form-control" ng-options="a for a in architectures" ng-model="architecture" ng-change="changeArchitecture(architecture)"></select>
              </div>

              <div class="form-group col-md-6">
                <label for="framework" class="control-label">Framework:</label>
                <select id="framework" class="form-control" ng-options="f for f in frameworks" ng-model="framework" ng-change="changeFramework(framework)"></select>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="loading">
    <div class="col-md-12 text-center">
      <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
  </div>

  <div class="row apps" ng-class="{'grid-view': view == 'grid', 'list-view': view != 'grid'}">
    <div ng-repeat="app in apps">
      <div ng-class="{'col-md-4 col-sm-6 col-xs-6 grid-view': view == 'grid', 'list-view col-sm-12': view != 'grid'}">
        <app-view ng-model="app" show-description="{{view != 'grid'}}"></app-view>
      </div>

      <div class="hidden-xs hidden-sm" ng-class="{clearfix: $index % 3 == 2}"></div>
      <div class="visible-xs visible-sm" ng-class="{clearfix: $index % 2 == 1}"></div>

      <span class="grid">
        <div class="separator hidden-xs hidden-sm" ng-show="$index % 3 == 2"></div>
      </span>
      <span class="grid">
        <div class="separator visible-sm visible-xs" ng-show="$index % 2 == 1"></div>
      </span>
      <span class="list">
        <div class="separator"></div>
      </span>
    </div>
  </div>

  <div class="row" ng-show="app_chunks.length == 0">
    <div class="col-md-12 text-center">
      No apps found, try searching again.
    </div>
  </div>

  <pages ng-model="current_page" pages="pages"></pages>
</div>
