<div class="modal-header">
  <h3 class="modal-title">FAQ</h3>
</div>

<div class="modal-body">
  <h4>What is this site?</h4>
  <div>
    This site is an unofficial app browser for Ubuntu Touch apps. All data for
    the apps comes from a publically accessable
    <a href="https://wiki.ubuntu.com/AppStore/Interfaces/ClickPackageIndex">api</a>.
    This site is maintained by <a href="http://bhdouglass.com/">Brian Douglass</a>
    and is not endorsed by or affiliated with Ubuntu or Canonical.
    Ubuntu and Canonical are registered trademarks of
    <a href="http://www.canonical.com/">Canonical Ltd.</a>
  </div>
  <br/>

  <h4>How do I install apps?</h4>
  <div>
    To install an app, visit this site on your Ubuntu Touch device. Find the app
    that you wish to install and click the "Install" button. You will then be
    taken to the official appstore on your device where you can install the app.
    <br/>
    Apps are not installed via this site, but via the official appstore.
  </div>
  <br/>

  <h4>What is the star rating?</h4>
  <div>
    The star rating is the Bayesian average of the star ratings that user give
    to an app when they leave a review. The Bayesian average allows apps with
    more reviews to rank better than apps with less reviews. The star rating
    can be between 1 and 5, where a 0 means that there have not been any reviews
    yet. For more information about the Bayesian average calculation, check out
    <a href="http://fulmicoton.com/posts/bayesian_rating/">this article</a>.
  </div>
  <br/>

  <h4>What is the heart rating?</h4>
  <div>
    The heart rating is similar to the star rating, but it rewards apps for having
    more good reivews. An app with more 5 star ratings will have a higher heart
    rating than an app with only a few 5 star ratings.
    <br/>
    Heart ratings are calculated from the star rating where a 5 star review is
    1 heart point, 4 stars = 0.5 hears, 3 stars = 0 hears, 2 stars = -0.5 hears,
    and 1 star = -1 hears.
    <br/>
    It is possible to have a negative heart rating.
  </div>
  <br/>

  <h4>I just published my app, why don't I see it?</h4>
  <div>
    New apps are fetched from the official appstore ever hour, you can either
    wait until the new apps are fetched or use
    <a href="/apps/request" ng-click="$dismiss('close')">this request form</a> to request that the app be found early.
  </div>

  <h4>Where can I report a problem or request a new feature?</h4>
  <div>
    To report a problem or request a new feature visit the issues page for
    this site on
    <a href="https://github.com/bhdouglass/ubuntu-appstore/issues">GitHub</a>.
  </div>
  <br/>

  <h4>How can I help improve this site?</h4>
  <div>
    If you want to contribute code visit the
    <a href="https://github.com/bhdouglass/ubuntu-appstore">GitHub repo</a>.
    <br/>
    If you want to submit bugs or feature requests visit the
    <a href="https://github.com/bhdouglass/ubuntu-appstore/issues">GitHub issues page</a>.
    <br/>
    If you would like to contribute monitarily, support the author on
    <a href="https://gratipay.com/bhdouglass/">Gratipay</a>.
    <br/>
    If you would like to contact the author, visit his
    <a href="http://bhdouglass.com/">website</a>
  </div>
</div>

<div class="modal-footer">
  <button class="btn btn-info" ng-click="$dismiss('close')">Close</button>
</div>
