<div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Browse</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps" title="Browse Apps">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-mobile background-material-lightblue"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading">
              Apps
            </h4>
            <p class="list-group-item-text" ng-if="counts.applications">
              <span ng-bind="counts.applications"></span> apps
            </p>
          </div>
        </a>

        <div class="list-group-separator"></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?type=webapp" title="Browse Web Apps">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-bookmark background-material-cyan"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading">
              Web Apps
            </h4>
            <p class="list-group-item-text" ng-if="counts.webapps">
              <span ng-bind="counts.webapps"></span> web apps
            </p>
          </div>
        </a>

        <div class="list-group-separator"></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?category=games" title="Browse Games">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-gamepad background-material-lightgreen"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading">
              Games
            </h4>
            <p class="list-group-item-text" ng-if="counts.games">
              <span ng-bind="counts.games"></span> games
            </p>
          </div>
        </a>

        <div class="list-group-separator"></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?type=scope" title="Browse Scopes">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-search background-material-deeporange"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading">
              Scopes
            </h4>
            <p class="list-group-item-text" ng-if="counts.scopes">
              <span ng-bind="counts.scopes"></span> scopes
            </p>
          </div>
        </a>

        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="essentials">
    <div class="col-md-12 text-center">
      <h1>Essentials</h1>
    </div>
  </div>
  <div class="row" ng-if="essentials">
    <div class="essentials margin-auto">
      <carousel interval="3400">
        <slide ng-repeat="app in essentials" class="ubuntu-shape">
          <img ng-src="{{appIcon(app)}}" class="rounded">
          <div class="carousel-caption">
            <a ui-sref="app({name: app.name})">
              <h3 ng-bind="app.title"></h3>
            </a>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Popular</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Apps</h3>
        </div>
      </div>
      <div class="row" ng-repeat="app in popular.applications">
        <div class="col-md-12">
          <div class="list-group">
            <a class="list-group-item clickable" ui-sref="app({name: app.name})" title="{{app.short_description}}">
              <div class="row-action-primary">
                <div class="icon ubuntu-shape">
                  <img ng-src="{{appIcon(app)}}" alt="{{app.name}}" />
                </div>
              </div>

              <div class="row-content">
                <div class="least-content-lower">
                  <div class="label" ng-class="{'label-success': !isFree(app.prices), 'label-primary': isFree(app.prices)}" ng-bind="app.prices|dollars"></div>
                </div>

                <h4 class="list-group-item-heading" ng-bind="app.title"></h4>
                <p class="list-group-item-text">
                  <stars ng-model="app.bayesian_average"></stars>
                  <span class="text-danger heart-rating">
                    <i class="fa" ng-class="{'fa-heart-o': !app.points || app.points <= 0, 'fa-heart': app.points > 0}"></i>
                    <span ng-bind="app.points || 0"></span>
                  </span>
                </p>
              </div>
            </a>

            <div class="list-group-separator"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Web Apps</h3>
        </div>
      </div>
      <div class="row" ng-repeat="app in popular.webapps">
        <div class="col-md-12">
          <div class="list-group">
            <a class="list-group-item clickable" ui-sref="app({name: app.name})" title="{{app.short_description}}">
              <div class="row-action-primary">
                <div class="icon ubuntu-shape">
                  <img ng-src="{{appIcon(app)}}" alt="{{app.name}}" />
                </div>
              </div>

              <div class="row-content">
                <div class="least-content-lower">
                  <div class="label" ng-class="{'label-success': !isFree(app.prices), 'label-primary': isFree(app.prices)}" ng-bind="app.prices|dollars"></div>
                </div>

                <h4 class="list-group-item-heading" ng-bind="app.title"></h4>
                <p class="list-group-item-text">
                  <stars ng-model="app.bayesian_average"></stars>
                  <span class="text-danger heart-rating">
                    <i class="fa" ng-class="{'fa-heart-o': !app.points || app.points <= 0, 'fa-heart': app.points > 0}"></i>
                    <span ng-bind="app.points || 0"></span>
                  </span>
                </p>
              </div>
            </a>

            <div class="list-group-separator"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Games</h3>
        </div>
      </div>
      <div class="row" ng-repeat="app in popular.games">
        <div class="col-md-12">
          <div class="list-group">
            <a class="list-group-item clickable" ui-sref="app({name: app.name})" title="{{app.short_description}}">
              <div class="row-action-primary">
                <div class="icon ubuntu-shape">
                  <img ng-src="{{appIcon(app)}}" alt="{{app.name}}" />
                </div>
              </div>

              <div class="row-content">
                <div class="least-content-lower">
                  <div class="label" ng-class="{'label-success': !isFree(app.prices), 'label-primary': isFree(app.prices)}" ng-bind="app.prices|dollars"></div>
                </div>

                <h4 class="list-group-item-heading" ng-bind="app.title"></h4>
                <p class="list-group-item-text">
                  <stars ng-model="app.bayesian_average"></stars>
                  <span class="text-danger heart-rating">
                    <i class="fa" ng-class="{'fa-heart-o': !app.points || app.points <= 0, 'fa-heart': app.points > 0}"></i>
                    <span ng-bind="app.points || 0"></span>
                  </span>
                </p>
              </div>
            </a>

            <div class="list-group-separator"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div class="col-md-12 text-center">
          <h3>Scopes</h3>
        </div>
      </div>
      <div class="row" ng-repeat="app in popular.scopes">
        <div class="col-md-12">
          <div class="list-group">
            <a class="list-group-item clickable" ui-sref="app({name: app.name})" title="{{app.short_description}}">
              <div class="row-action-primary">
                <div class="icon ubuntu-shape">
                  <img ng-src="{{appIcon(app)}}" alt="{{app.name}}" />
                </div>
              </div>

              <div class="row-content">
                <div class="least-content-lower">
                  <div class="label" ng-class="{'label-success': !isFree(app.prices), 'label-primary': isFree(app.prices)}" ng-bind="app.prices|dollars"></div>
                </div>

                <h4 class="list-group-item-heading" ng-bind="app.title"></h4>
                <p class="list-group-item-text">
                  <stars ng-model="app.bayesian_average"></stars>
                  <span class="text-danger heart-rating">
                    <i class="fa" ng-class="{'fa-heart-o': !app.points || app.points <= 0, 'fa-heart': app.points > 0}"></i>
                    <span ng-bind="app.points || 0"></span>
                  </span>
                </p>
              </div>
            </a>

            <div class="list-group-separator"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
