<div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>
        <a href="/apps">
          Browse
        </a>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?type=application" title="Browse Apps">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-mobile background-material-lightblue"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading">
              Apps
            </h4>
            <p class="list-group-item-text" ng-if="counts.applications">
              <span ng-bind="counts.applications"></span> apps
            </p>
          </div>
        </a>

        <div class="list-group-separator"></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?type=webapp" title="Browse Web Apps">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-bookmark background-material-cyan"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading">
              Web Apps
            </h4>
            <p class="list-group-item-text" ng-if="counts.webapps">
              <span ng-bind="counts.webapps"></span> web apps
            </p>
          </div>
        </a>

        <div class="list-group-separator"></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?category=games" title="Browse Games">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-gamepad background-material-lightgreen"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading">
              Games
            </h4>
            <p class="list-group-item-text" ng-if="counts.games">
              <span ng-bind="counts.games"></span> games
            </p>
          </div>
        </a>

        <div class="list-group-separator"></div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="list-group">
        <a class="list-group-item clickable" href="/apps?type=scope" title="Browse Scopes">
          <div class="row-action-primary">
            <div class="action-icon ubuntu-shape">
              <i class="fa fa-search background-material-deeporange"></i>
            </div>
          </div>

          <div class="row-content">
            <h4 class="list-group-item-heading">
              Scopes
            </h4>
            <p class="list-group-item-text" ng-if="counts.scopes">
              <span ng-bind="counts.scopes"></span> scopes
            </p>
          </div>
        </a>

        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="essentials">
    <div class="col-md-12 text-center">
      <h1>
        <a href="/apps?sort=-bayesian_average">
          Essentials
        </a>
      </h1>
    </div>
  </div>
  <div class="row" ng-if="essentials">
    <div class="essentials margin-auto">
      <carousel interval="4000">
        <slide ng-repeat="app in essentials" class="ubuntu-shape">
          <img ng-src="{{appIcon(app)}}" class="rounded">
          <div class="carousel-caption">
            <a ui-sref="app({name: app.name})">
              <h3 ng-bind="app.title"></h3>
            </a>
          </div>
        </slide>
      </carousel>
    </div>
  </div>

  <div class="row" ng-show="top.length > 0">
    <div class="col-md-12 text-center">
      <h1>
        <a href="/apps?sort=-points">
          Top Apps
        </a>
      </h1>
    </div>
  </div>
  <div class="row apps">
    <div ng-repeat="app in top">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <app-view ng-model="app"></app-view>
      </div>
      <div class="hidden-xs hidden-sm" ng-class="{clearfix: $index % 3 == 2}"></div>
      <div class="visible-xs visible-sm" ng-class="{clearfix: $index % 2 == 1}"></div>
    </div>
  </div>

  <div class="row" ng-show="new.length > 0">
    <div class="col-md-12 text-center">
      <h1>
        <a href="/apps">
          New Apps
        </a>
      </h1>
    </div>
  </div>
  <div class="row apps">
    <div ng-repeat="app in new">
      <div class="col-md-4 col-sm-6 col-xs-6">
        <app-view ng-model="app"></app-view>
      </div>
      <div class="hidden-xs hidden-sm" ng-class="{clearfix: $index % 3 == 2}"></div>
      <div class="visible-xs visible-sm" ng-class="{clearfix: $index % 2 == 1}"></div>
    </div>
  </div>
</div>
