[Desktop Entry]
Name=uApp Explorer
Comment=!ebapp for uApp Explorer
Type=Application
Icon=icon.png
Exec=qmlscene qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true
