#!/bin/bash

export NODE_ENV="production"
export ELASTICSEARCH_URI=""
export MAILHIDE_PRIVATEKEY=""
export MAILHIDE_PUBLICKEY=""
export MONGODB_DB=""
export MONGODB_URI=""
export NODEJS_HOST=""
export NODEJS_STATIC=""
export PAPERTRAIL_HOST=""
export PAPERTRAIL_PORT=""
export PROCESS_LIMIT=""
export SESSION_SECRET=""
