<div class="apps">
  <div class="app-search">
    <div class="row">
      <div class="col-md-6">
        <h1 ng-bind="category.name"></h1>
        <span>{{app_count}} {{countTypes[type]}}</span>
        <span ng-if="search">
          <br/>
          <span translate translate-comment="Apps containing: {search term}">Containing:</span> "{{search}}"
        </span>
      </div>
      <div class="col-md-6">
        <div class="row">
          <form class="top-filters">
            <fieldset>
              <div class="form-group col-md-4">
                <label for="category" class="control-label hidden-xs" translate>Category:</label>
                <select id="category" class="form-control" ng-options="c.name for c in categories" ng-model="categoryModel" ng-change="changeCategory(categoryModel)"></select>
              </div>

              <div class="form-group col-md-4">
                <label for="type" class="control-label hidden-xs" translate translate-comment="App type (scope/app/etc)">Type:</label>
                <select id="type" class="form-control" ng-options="t.value as t.label for t in typeList" ng-model="typeModel" ng-change="changeType(typeModel)"></select>
              </div>

              <div class="form-group col-md-4">
                <label for="sort" class="control-label hidden-xs" translate>Sort By:</label>
                <select id="sort" class="form-control" ng-options="s.value as s.label for s in sorts" ng-model="sortModel" ng-change="changeSort(sortModel)"></select>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="row">
          <div class="btn-toolbar pull-right more-filters-btn">
            <div class="btn-group">
              <a ng-click="more_filters = !more_filters" class="btn btn-primary clickable">
                <i class="fa fa-plus-circle" ng-class="{'fa-plus-circle': !more_filters, 'fa-minus-circle': more_filters}"></i>
                <span translate>Filters</span>
              </a>
            </div>
          </div>

          <div class="btn-toolbar pull-right">
            <div class="btn-group">
              <a class="btn clickable" ng-class="{'bold btn-primary view-button': view == 'grid'}" ng-click="changeView('grid')" ng-disabled="view == 'grid'">
                <span class="hidden-xs" translate translate-comment="Grid view">Grid</span>
                <i class="fa fa-th-large"></i>
              </a>
              <a class="btn clickable" ng-class="{'bold btn-primary view-button': view == 'list'}" ng-click="changeView('list')" ng-disabled="view == 'list'">
                  <span class="hidden-xs" translate translate-comment="List view">List</span>
                <i class="fa fa-list"></i>
              </a>
            </div>
          </div>
        </div>

        <div class="row" ng-show="more_filters">
          <form>
            <fieldset>
              <div class="form-group col-md-4">
                <label for="license" class="control-label" translate>License:</label>
                <select id="license" class="form-control" ng-options="l.value as l.label for l in licenses" ng-model="license" ng-change="changeLicense(license)">
                  <option value="">All</option>
                </select>
              </div>

              <div class="form-group col-md-4">
                <label for="architecture" class="control-label" translate translate-comment="CPU architecture">Architecture:</label>
                <select id="architecture" class="form-control" ng-options="a.value as a.label for a in architectures" ng-model="architecture" ng-change="changeArchitecture(architecture)"></select>
              </div>

              <div class="form-group col-md-4">
                <label for="framework" class="control-label" translate translate-comment="Ubuntu sdk framework">Framework:</label>
                <select id="framework" class="form-control" ng-options="f.value as f.label for f in frameworks" ng-model="framework" ng-change="changeFramework(framework)"></select>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="row" ng-if="loading">
    <div class="col-md-12 text-center">
      <i class="fa fa-spinner fa-spin fa-4x"></i>
    </div>
  </div>

  <div class="row app-list" ng-class="{'grid-view': view == 'grid', 'list-view': view != 'grid'}">
    <div ng-repeat="app in apps">
      <div ng-class="{'col-md-4 col-sm-6 col-xs-6 grid-view': view == 'grid', 'list-view col-sm-12': view != 'grid'}">
        <app-view ng-model="app" show-description="{{view != 'grid'}}" show-popularity="{{sortModel == 'monthly_popularity' || sortModel == '-monthly_popularity'}}"></app-view>
      </div>

      <div class="hidden-xs hidden-sm" ng-class="{clearfix: $index % 3 == 2}"></div>
      <div class="visible-xs visible-sm" ng-class="{clearfix: $index % 2 == 1}"></div>

      <span class="grid">
        <div class="separator hidden-xs hidden-sm" ng-show="$index % 3 == 2"></div>
      </span>
      <span class="grid">
        <div class="separator visible-sm visible-xs" ng-show="$index % 2 == 1"></div>
      </span>
      <span class="list">
        <div class="separator"></div>
      </span>
    </div>
  </div>

  <div class="row" ng-show="app_chunks.length == 0">
    <div class="col-md-12 text-center" translate>
      No apps found, try searching again.
    </div>
  </div>

  <pages ng-model="current_page" pages="pages"></pages>
</div>
