.icon {
  height: 64px;
  width: 64px;
}

.icon img {
  border-radius: 1.4rem;
}

.ubuntu-shape {
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
  position: relative;
  z-index: 100;
}

.ubuntu-shape:after {
  background: url(../img/ubuntu-shape.png) no-repeat;
  background-size: 100% 100%;
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ubuntu-shape img {
  height: 100% !important;
  width: 100% !important;
  margin-bottom: 0;
  display: inline-block;
}

.modal-backdrop {
  opacity: 0.5;
}

.search {
  width: 300px;
}

.clickable {
  cursor: pointer;
}

img.logo {
  width: 32px;
  height: 32px;
  margin-top: -10px;
  display: inline-block;
}

.rotate {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

.center {
  text-align: center;
}

.apps .col-md-2 {
    margin-bottom: 25px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.icon-large {
  height: 92px;
  width: 92px;
  margin-bottom: 10px;
}

.icon-large img {
  border-radius: 2rem;
}

.app-info {
  width: calc(100% - 132px) !important;
}

.app .title-block {
  margin-left: 10px;
}

.app .title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.app .type {
  margin-top: 10px;
  margin-left: 10px;
}

.app .description {
  margin-top: 0px;
}

select {
  margin-top: 5px;
}

.fancybox-image {
  border-radius: 8px;
  border: 1px solid #999999;
}

.screenshot {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #999999;
}

.screenshot-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 330px;
  white-space: nowrap;
}

.screenshot-scroll div {
  display: inline-block;
}

.action-icon i {
  border-radius: 1.4rem !important;
}
