<div>
  <div class="row apps" ng-repeat="chunk in app_chunks">
    <div class="col-md-4" ng-repeat="app in chunk">
      <div class="list-group">
        <div class="list-group-item">
          <div class="row-action-primary">
            <a ng-href="/#/app/{{app.name}}" class="link">
              <div class="icon ubuntu-shape">
                <img ng-src="/images/{{app.icon_filename}}" alt="{{app.name}}" />
              </div>
            </a>
          </div>

          <div class="row-content">
            <div class="least-content">
              <div class="label" ng-class="{'label-success': types[app.type] == 'App', 'label-primary': types[app.type] == 'Scope'}" ng-bind="types[app.type]"></div>
            </div>

            <h4 class="list-group-item-heading">
              <a ng-href="/#/app/{{app.name}}" ng-bind="app.title" class="link"></a>
            </h4>

            <p class="list-group-item-text">
              <stars ng-model="app.average_rating"></stars>
            </p>
          </div>
        </div>

        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>

  <pagination ng-model="$parent.current_page" pages="pages"></pagination>
</div>
