<div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="search">Search:</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="$parent.search" id="search" />
          <span class="input-group-addon">
            <i class="fa fa-search" ng-click="searchFor('')" ng-class="{'fa-search': !search_hover, 'fa-times-circle-o': search_hover}" ng-mouseenter="search_hover = true" ng-mouseleave="search_hover = false" title="Clear search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="sort">Sort By:</label>
        <select ng-model="$parent.paging.sort" ng-options="s.value as s.label for s in sorts" class="form-control" id="sort"></select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="category">Category:</label>
        <select ng-model="$parent.category" ng-options="c.internal_name as c.name for c in categories" class="form-control" id="category"></select>
      </div>
    </div>
  </div>

  <div class="row filters">
    <div class="more-filters hidden-xs">
      <a ng-show="!more_filters" ng-click="more_filters = true" class="clickable link">
        <i class="fa fa-plus-circle"></i> More Filters
      </a>
      <a ng-show="more_filters" ng-click="more_filters = false" class="clickable link">
        <i class="fa fa-plus-circle"></i> Less Filters
      </a>
    </div>
    <div class="more-filters visible-xs text-center">
      <a ng-show="!more_filters" ng-click="more_filters = true" class="clickable btn btn-primary btn-sm">
        <i class="fa fa-plus-circle"></i> More Filters
      </a>
      <a ng-show="more_filters" ng-click="more_filters = false" class="clickable btn btn-primary btn-sm">
        <i class="fa fa-plus-circle"></i> Less Filters
      </a>
    </div>
    <div ng-show="more_filters">
      <div class="col-md-4">
        <div class="form-group">
          <label for="architecture">Filter By Architecture:</label>
          <select ng-model="$parent.architecture" ng-options="a as a for a in architectures" class="form-control" id="architecture"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="framework">Filter By Framework:</label>
          <select ng-model="$parent.framework" ng-options="f as f for f in frameworks" class="form-control" id="framework"></select>
        </div>
      </div>
    </div>
  </div>

  <div class="row apps" ng-repeat="chunk in app_chunks">
    <div class="col-md-4" ng-repeat="app in chunk">
      <div class="list-group">
        <div class="list-group-item clickable" ng-click="$state.go('app', {name: app.name})">
          <div class="row-action-primary">
            <a ui-sref="app({name: app.name})" class="link">
              <div class="icon ubuntu-shape">
                <img ng-src="/images/{{app.icon_filename}}" alt="{{app.name}}" />
              </div>
            </a>
          </div>

          <div class="row-content">
            <div class="least-content">
              <div class="label" ng-class="{'label-material-lightblue': types[app.type] == 'App', 'label-material-orange': types[app.type] == 'Scope'}" ng-bind="types[app.type]"></div>
            </div>
            <div class="least-content-lower">
              <div class="label" ng-class="{'label-success': !isFree(app.prices), 'label-primary': isFree(app.prices)}" ng-bind="app.prices|dollars"></div>
            </div>

            <h4 class="list-group-item-heading">
              <a ui-sref="app({name: app.name})" ng-bind="app.title" class="link"></a>
            </h4>

            <p class="list-group-item-text">
              <stars ng-model="app.average_rating"></stars>
            </p>
          </div>
        </div>

        <div class="list-group-separator"></div>
      </div>
    </div>
  </div>

  <pagination ng-model="$parent.current_page" pages="pages"></pagination>
</div>
