<div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="search">Search:</label>
        <div class="input-group">
          <input type="text" class="form-control" ng-model="search" id="search" />
          <span class="input-group-addon">
            <i class="fa fa-search" ng-click="search = ''" ng-class="{'fa-search': !search_hover, 'fa-times-circle-o': search_hover}" ng-mouseenter="search_hover = true" ng-mouseleave="search_hover = false" title="Clear search"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="sort">Sort By:</label>
        <select ng-model="paging.sort" ng-options="s.value as s.label for s in sorts" class="form-control" id="sort"></select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="category">Category:</label>
        <select ng-model="category" ng-options="c.internal_name as c.name for c in categories" class="form-control" id="category"></select>
      </div>
    </div>
  </div>

  <div class="row filters">
    <div class="more-filters hidden-xs">
      <a ng-show="!more_filters" ng-click="more_filters = true" class="clickable link">
        <i class="fa fa-plus-circle"></i> More Filters
      </a>
      <a ng-show="more_filters" ng-click="more_filters = false" class="clickable link">
        <i class="fa fa-plus-circle"></i> Less Filters
      </a>
    </div>
    <div class="more-filters visible-xs text-center">
      <a ng-show="!more_filters" ng-click="more_filters = true" class="clickable btn btn-primary btn-sm">
        <i class="fa fa-plus-circle"></i> More Filters
      </a>
      <a ng-show="more_filters" ng-click="more_filters = false" class="clickable btn btn-primary btn-sm">
        <i class="fa fa-plus-circle"></i> Less Filters
      </a>
    </div>
    <div ng-show="more_filters">
      <div class="col-md-4">
        <div class="form-group">
          <label for="architecture">Filter By Architecture:</label>
          <select ng-model="architecture" ng-options="a as a for a in architectures" class="form-control" id="architecture"></select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="framework">Filter By Framework:</label>
          <select ng-model="framework" ng-options="f as f for f in frameworks" class="form-control" id="framework"></select>
        </div>
      </div>
    </div>
  </div>
</div>
