#swipebox-container {
  img {
    border-radius: 8px;
  }
}

#swipebox-overlay {
  background-color: rgba(13, 13, 13, 0.8) !important;
}

.app {
  position: relative;

  &.slideOutLeft {
    -webkit-animation: slideOutLeft 0.5s;
    animation: slideOutLeft 0.5s;
  }

  &.slideOutRight {
    -webkit-animation: slideOutRight 0.5s;
    animation: slideOutRight 0.5s;
  }

  .app-info {
    display: block !important;
    width: 100% !important;

    .stars {
      font-size: 24px;
    }

    .hearts {
      font-size: 20px;
    }

    .list-group-item-heading {
      font-size: 24px;
    }

    .list-group-item-text {
      position: absolute;
      bottom: 15px;
      left: 215px;
    }
  }

  .screenshot {
    display: block;
    width: auto;
    height: auto;
    max-width: 300px;
    max-height: 300px;
    margin: 5px;
    border: 1px solid #999999;
    border-radius: 8px;
  }

  .screenshot-scroll {
    max-height: 330px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .screenshot-scroll div {
    display: inline-block;
  }

  .nav-pills {
    margin-bottom: 5px;
  }

  .tab-content {
    margin-right: 15px;
  }

  .app-tab {
    min-height: 225px;

    h3 {
      margin-top: 0;
    }

    h4 {
      margin-top: 20px;
    }
  }

  .external-links a {
    margin-right: 10px;
  }

  .external-links a:hover {
    color: #000000;
  }

  .star-chart {
    margin-bottom: 15px;

    span {
      margin-top: -2px;
      margin-right: 5px;
    }

    .progress {
      height: 17px;
      margin-bottom: 2px;
    }

    .progress-bar {
      color: #000000;
    }

    .left-panel {
      margin-bottom: 15px;
    }
  }

  @media (max-width: 768px) {
    .star-chart {
      .right-panel {
        margin-left: 15px;
        margin-right: 10px;
      }
    }
  }

  .review {
    .list-group {
      .list-group-item {
        .row-content {
          width: ~'calc(100% - 73px)';
        }
      }
    }

    .review-author {
      overflow: hidden !important;
      font-size: 17px;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .review-text {
      clear: both;
    }

    .list-group {
      margin-bottom: 5px !important;
    }
  }

  .list-label {
    display: inline-block;
    margin-left: 5px;
  }

  .previous-app {
    position: absolute;
    top: 10px;
    left: -10px;
    z-index: 100;
  }

  .next-app {
    position: absolute;
    top: 10px;
    right: -10px;
    z-index: 100;
  }

  .description {
    overflow-x: auto;
  }

  .share-dropdown {
    display: inline-block;
    margin-left: 10px;
  }

  .sharing {
    overflow: visible;
  }

  .screenshots{
    margin-bottom: 20px;

    h3 {
      margin-top: 0;
    }
  }

  .download-dropdown {
    display: inline-block;
  }

  @media (max-width: 768px) {
    .changelog {
      margin-bottom: 20px;
    }
  }
}
