[Desktop Entry]
Name=uApp Explorer (Donate)
Comment=Webapp for uApp Explorer (Donation version)
Type=Application
Icon=icon.png
Exec=qmlscene qml/Main.qml
Terminal=false
X-Ubuntu-Touch=true
