.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

.icon {
  height: 64px;
  width: 64px;
}

.icon img {
  border-radius: 1.4rem;
}

.ubuntu-shape {
  display: inline-block;
  max-width: 100%;
  vertical-align: bottom;
  position: relative;
  z-index: 100;
}

.ubuntu-shape:after {
  background: url(../img/ubuntu-shape.png) no-repeat;
  background-size: 100% 100%;
  content: ' ';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.ubuntu-shape img {
  height: 100% !important;
  width: 100% !important;
  margin-bottom: 0;
  display: inline-block;
}

.essentials .ubuntu-shape img {
  border-radius: 6rem;
  padding-bottom: 2px;
}

.modal-backdrop {
  opacity: 0.5;
}

.search {
  width: 300px;
}

.clickable {
  cursor: pointer;
}

img.logo {
  width: 32px;
  height: 32px;
  margin-top: -10px;
  display: inline-block;
}

.rotate {
  -webkit-animation: rotation 2s infinite linear;
}

@-webkit-keyframes rotation {
  from {-webkit-transform: rotate(0deg);}
  to   {-webkit-transform: rotate(359deg);}
}

.center {
  text-align: center;
}

.apps {
  margin-top: 30px;
}

.apps .col-md-2 {
  margin-bottom: 25px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
}

.link:focus {
  color: inherit;
  text-decoration: none;
}

.icon-large {
  height: 92px;
  width: 92px;
  margin-bottom: 10px;
}

.icon-large img {
  border-radius: 2rem;
}

.app-info {
  width: calc(100% - 132px) !important;
}

.app .title-block {
  margin-left: 10px;
}

.app .title {
  margin-top: 0px;
  margin-bottom: 0px;
}

.app .type {
  margin-top: 10px;
  margin-left: 10px;
}

.app .description {
  margin-top: 0px;
}

select {
  margin-top: 5px;
}

#swipebox-container img {
  border-radius: 8px;
}

#swipebox-overlay {
  background-color: rgba(13, 13, 13, 0.8);
}

.screenshot {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid #999999;
}

.screenshot-scroll {
  overflow-x: auto;
  overflow-y: hidden;
  max-height: 330px;
  white-space: nowrap;
}

.screenshot-scroll div {
  display: inline-block;
}

.action-icon i {
  border-radius: 1.4rem !important;
}

.least-content-lower {
  position: absolute;
  right: 16px;
  bottom: 0;
  color: rgba(0,0,0,.54);
  font-size: 14px;
}

.price {
  margin-right: 5px;
}

.filters {
  margin-bottom: 10px;
}

.more-filters {
  margin-left: 15px;
}

.main {
  margin-top: 10px;
}

.navbar {
  margin-bottom: 0px;
}

.app-tab {
  min-height: 225px;
}

.bold {
  font-weight: bold;
}

.app-search .btn-toolbar {
  margin-top: 15px;
  margin-left: 5px;
}

.search-box {
  margin-top: 5px;
}

a.list-group-item:hover, a.list-group-item:focus {
  background-color: transparent;
}

.social-links a {
  margin-right: 10px;
}

.social-links a:hover {
  color: #000000;
}

.small-note {
  font-size: 12px;
}

.category-dropdown .dropdown-menu {
  max-height: 500px;
  overflow-y: auto;
}

.background-material-red {
  background-color: #f44336 !important;
}
.background-material-pink {
  background-color: #e91e63 !important;
}
.background-material-purple {
  background-color: #9c27b0 !important;
}
.background-material-deeppurple {
  background-color: #673ab7 !important;
}
.background-material-indigo {
  background-color: #3f51b5 !important;
}
.background-material-lightblue {
  background-color: #03a9f4 !important;
}
.background-material-cyan {
  background-color: #00bcd4 !important;
}
.background-material-teal {
  background-color: #009688 !important;
}
.background-material-lightgreen {
  background-color: #8bc34a !important;
}
.background-material-lime {
  background-color: #cddc39 !important;
}
.background-material-lightyellow {
  background-color: #ffeb3b !important;
}
.background-material-orange {
  background-color: #ff9800 !important;
}
.background-material-deeporange {
  background-color: #ff5722 !important;
}
.background-material-grey {
  background-color: #9e9e9e !important;
}
.background-material-bluegrey {
  background-color: #607d8b !important;
}
.background-material-brown {
  background-color: #795548 !important;
}
.background-material-lightgrey {
  background-color: #ececec !important;
}

.heart-rating {
  margin-left: 5px;
}

.essentials {
  width: 256px;
}

.margin-auto {
  margin: auto;
}

.carousel-caption {
  position: absolute;
  top: 0px;
}

.carousel-caption a {
  color: #FFFFFF;
}

.carousel-control {
  z-index: 200;
  background-image: none !important;
}

.carousel-indicators {
  z-index: 200;
}

.disclaimer {
  font-size: 11px;
  margin-bottom: 10px;
}

.top-filters {
  margin-top: 10px;
}

.more-filters-btn {
  margin-right: 10px;
}

.qr-button {
  position: relative;
}

.qr-button .fa-2x {
  position: absolute;
  left:7px;
  top:-15px;
  z-index:100;
}

.star-chart {
  margin-bottom: 15px;
}

.star-chart span {
  margin-top: -6px;
  margin-right: 5px;
}

.star-chart .progress {
  height: 8px;
  margin-bottom: 16px;
}

.star-chart .left-panel {
  margin-bottom: 15px;
}

.text-medium {
  font-size: 16px;
}

.app-view .list-group-item-heading {
  padding-right: 50px;
}

@media (max-width: 768px) {
  .app-view .row-action-primary {
    float: none !important;
  }

  .app-view .row-content {
    display: block !important;
    width: auto !important;
  }

  .app-view .least-content {
    position: static !important;
    display: inline-block !important;
  }

  .app-view .least-content-lower {
    position: static !important;
    display: inline-block !important;
  }

  .app-view .list-group-separator:before {
    width: 100% !important;
  }

  .app-view .list-group-item-heading {
    padding-right: 0px !important;
  }
}

.word-break {
  word-wrap: break-word;
}
