<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="indexCtrl" itemscope itemtype="http://schema.org/MobileApplication">
  <head>
    <title ng-bind="title">Ubuntu Touch Apps</title>
    <base href="/" />

    <meta name="description" content="App store for Ubuntu Touch" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="{{og.title}}" />
    <meta itemprop="description" content="{{og.description}}" />
    <meta itemprop="image" content="{{og.image}}" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bhdouglass" />
    <meta name="twitter:title" content="{{og.title}}" />
    <meta name="twitter:description" content="{{og.description}}" />
    <meta name="twitter:image:src" content="{{og.image}}" />

    <!-- Open Graph data -->
    <meta property="og:title" content="{{og.title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{og.url}}" />
    <meta property="og:image" content="{{og.image}}" />
    <meta property="og:description" content="{{og.description}}" />
    <meta property="og:site_name" content="{{title}}" />

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-csp.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/lazyload/2.0.3/lazyload-min.js"></script>
    <script src="/app/load.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            <a ng-click="goToApps()" class="link clickable">
              <i class="fa fa-chevron-left" ng-show="$state.current.name == 'app'"  ng-cloak></i>
              <img src="/img/ubuntu-logo.svg" class="logo" ng-class="{'rotate': loading}" />
              Ubuntu Touch Apps
            </a>
          </span>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a href="https://github.com/bhdouglass/ubuntu-appstore">About</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" ng-cloak ng-show="error">
      <div class="row">
        <div class="col-sm-12 centered">
          <div class="alert alert-dismissable alert-warning clickable text-center"  ng-click="dismissError()">
            <button type="button" class="close" ng-click="dismissError()">
              <i class="fa fa-times"></i>
            </button>
            <h4 ng-bind="error"></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="container main">
      <div ui-view></div>
    </div>
  </body>
</html>
