<!DOCTYPE html>
<html lang="en" ng-app="appstore" ng-controller="indexCtrl" itemscope itemtype="http://schema.org/MobileApplication">
  <head>
    <title ng-bind="title">uApp Explorer</title>
    <base href="/" />

    <meta name="description" content="App store for Ubuntu Touch" ng-content="og.description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />

    <!-- Schema.org markup for Google+ -->
    <meta itemprop="name" content="Ubuntu Touch Apps" ng-content="og.title" />
    <meta itemprop="description" content="Browse and discover apps for Ubuntu Touch" ng-content="og.description" />
    <meta itemprop="image" content="https://uappexplorer.com/img/ubuntu-logo.png" ng-content="og.image" />

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@bhdouglass" />
    <meta name="twitter:title" content="Ubuntu Touch Apps" ng-content="og.title" />
    <meta name="twitter:description" content="Browse and discover apps for Ubuntu Touch" ng-content="og.description" />
    <meta name="twitter:image:src" content="https://uappexplorer.com/img/ubuntu-logo.png" ng-content="og.image" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Ubuntu Touch Apps" ng-content="og.title" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://uappexplorer.com/apps" ng-content="og.url" />
    <meta property="og:image" content="https://uappexplorer.com/img/ubuntu-logo.png" ng-content="og.image" />
    <meta property="og:description" content="Browse and discover apps for Ubuntu Touch" ng-content="og.description" />
    <meta property="og:site_name" content="Ubuntu Touch Apps" ng-content="title" />

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <style>
      .ng-cloak {
        display: none !important;
      }
    </style>

    <script src="//cdnjs.cloudflare.com/ajax/libs/lazyload/2.0.3/lazyload-min.js"></script>
    <!-- @if ENV = 'production' !>
    <script>
      v = '?v=<%= version %>';
      LazyLoad.js('app/load.js' + v);
    </script>
    <!-- @endif -->

    <!-- @if ENV != 'production' -->
    <script>
      v = '';
      LazyLoad.js('app/load.js');
    </script>
    <!-- @endif -->
  </head>
  <body class="ng-cloak">
    <nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand">
            <a ui-sref="apps(back)" class="link clickable" ng-if="$state.current.name == 'app'">
              <i class="fa fa-chevron-left ng-cloak"></i>
              <img src="/img/ubuntu-logo.svg" class="logo" ng-class="{'rotate': loading}" />
              uApp Explorer
            </a>
            <a ui-sref="main" class="link clickable ng-cloak" ng-if="$state.current.name != 'app'">
              <i class="fa fa-chevron-left" ng-show="$state.current.name == 'apps'"></i>
              <img src="/img/ubuntu-logo.svg" class="logo" ng-class="{'rotate': loading}" />
              uApp Explorer
            </a>
          </span>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li>
              <a ng-click="faq()" class="clickable">FAQ</a>
            </li>
            <li>
              <a href="http://feeds.feedburner.com/UbuntuTouchNewApps">RSS</a>
            </li>
            <li>
              <a href="https://gratipay.com/bhdouglass/">Donate</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" ng-cloak ng-show="error">
      <div class="row">
        <div class="col-sm-12 centered">
          <div class="alert alert-dismissable alert-warning clickable text-center"  ng-click="dismissError()">
            <button type="button" class="close" ng-click="dismissError()">
              <i class="fa fa-times"></i>
            </button>
            <h4 ng-bind="error"></h4>
          </div>
        </div>
      </div>
    </div>

    <div class="container main">
      <div class="row">
        <div class="col-sm-12 text-center disclaimer">
          This is an unofficial app viewer for Ubuntu Touch apps,
          <a ng-click="faq()" class="clickable">learn more</a>.
        </div>
      </div>

      <div ui-view></div>
    </div>
  </body>
</html>
