<div>
  <div class="row">
    <div class="col-sm-12 text-center">
      <h1>Welcome {{user.name ? user.name : user.username}}</h1>
    </div>
  </div>

  <div class="row lists">
    <div class="col-sm-12">
      <button class="btn btn-primary btn-sm pull-right" ui-sref="me.listedit({id: 'new'})">
        <i class="fa fa-plus"></i>
        <span class="hidden-xs">New List</span>
      </button>

      <h3>
        My App Lists
      </h3>
    </div>
  </div>

  <div ng-repeat="list in lists | orderBy:'name'">
    <div class="row lists">
      <div class="col-xs-12">
        <div class="pull-right">
          <a class="btn btn-info btn-sm hidden-xs" ui-sref="list({id: list._id})">
            <i class="fa fa-eye"></i>
            View
          </a>

          <a class="btn btn-success btn-sm" ui-sref="me.listedit({id: list._id})">
            <i class="fa fa-edit"></i>
            <span class="hidden-xs">Edit</span>
          </a>

          <button class="btn btn-danger btn-sm" ng-click="remove(list)">
            <i class="fa fa-trash"></i>
            <span class="hidden-xs">Delete</span>
          </button>
        </div>

        <div class="list-group">
          <a class="list-group-item clickable" ui-sref="list({id: list._id})" title="Browse Apps">
            <div class="row-action-primary">
              <div class="action-icon ubuntu-shape">
                <i class="fa {{icon(list.name)}}" ng-style="strToColor(list.name, 'background-color')"></i>
              </div>
            </div>

            <div class="row-content">
              <h4 class="list-group-item-heading" ng-bind="list.name"></h4>
              <p class="list-group-item-text">
                <span ng-bind="list.packages.length"></span> apps
              </p>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="separator"></div>
      </div>
    </div>
  </div>
</div>
